body {
  background-image: url('https://lh3.googleusercontent.com/pw/AJFCJaVhSnfKev99lgg-M00RL1n6lYF1gASaPZm94XUjYSvDcs29b6g1iOmuSWE_WuHjLdOpkL-9vcl5yvTCX9-aTj4d3yC7NFRuj1Cj2dgadnXIvecdX35h4VcS1z2WodJGkFsHLs-AhvOwDhEHXtWmz5BCvQ=w1106-h1474-s-no');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
